parameters:
    level: 8
    paths:
        - backend/app
        - backend/tests
        - packages/php/kernel/src
        - packages/php/kernel/tests
        - packages/php/data-permission/src
        - packages/php/data-permission/tests
        - packages/php/testing/src
        - packages/php/testing/tests
    tmpDir: .cache/phpstan
